.carrito__icon{
    position: relative;
    cursor: pointer;
  }
  .carrito__icon p{
    position: absolute;
    top: -.4rem;
    right: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
  }