
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    line-height: 1rem;
    background-color: black;
    justify-content:center;
    z-index: 5;
  }
.nav__center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 50px;
    height: 100%;
  }
  .nav img{
    height: 100px;
  }  
.nav__list{
    display: flex;
    align-items: center;
  }
  .nav__list li{
    padding: 20px;
    
  }
  .nav__list li a{
    color: white;
  }
  .nav__list li a:hover{
    color:red;
  }
  .nav__list span{
    display: inline-block;
    font-size: 3.5rem;
    margin-top: .2rem;
    margin-right: 2rem;
    color: red;
  }